body {
	background: rgb(36,0,0);
background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(194,52,0,1) 35%, rgba(97,0,0,1) 100%);

    color: white;
    font-family: Lucida Bright;
    font-size: 20px;
}

p, a {
	font-size: 1.5em;
}

a {
	color: white;
	transition: color 300ms ease-in;
}

a:hover {
	color: #29ff00;
}

img {
	max-width: 100%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

.link {
	list-style: none;
}